body {
    text-align: center;
    color: goldenrod;
    font-size: 40px;
    font-family: 'Magic School One', sans-serif;
    font-family: 'Magic School Two', sans-serif;
    background-image: url("./image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
h1{
    font-size: 100px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    height:100%";
}

.sidebar {
    background-color: #0B3D2E;
    border: solid darkgoldenrod;
    height: auto;
    width: 110px;
    padding: 20px;
}
.column {
    flex-direction: column;
}


.sidebar li {
    list-style-type: none;
}

.sidebar li a {
    list-style-type: none;
    text-decoration: none;
    color: darkgoldenrod;
    display: block;
    font-size: 35px;
    margin-left: 10px;
}
.container5{
    display: flex;
    flex-direction:row;
}
.container6{
    display: flex;
    flex-direction:row;
    margin-top: 100px;
    margin-left: 40px;
}
.container7{
    display: flex;
    flex-direction:row;
    margin-top: 100px;
}
.content1{
    background-color:  #0B3D2E;
    width: 700px;
    height: 700px;
    border: solid 8px darkgoldenrod;
    font-size: 40px;
    margin-left: 300px;
}
.content2,.content3{
    background-color:  #0B3D2E;
    width: 750px;
    height: 700px;
    border: solid 8px darkgoldenrod;
    font-size: 40px;
    margin-left: 470px;
    margin-top: 20px;

}
img{
    width: 300px;
    height: 300px;
    margin-left: 70px;
    margin-bottom:100px;
    margin-right: 300px;
    margin-top: 100px;
    border: solid 8px darkgoldenrod;

}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 10px;
}