body {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: 'Magic School One', sans-serif;
    font-family: 'Magic School Two', sans-serif;
    background-image: url("./image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
h1{
    font-size: 100px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    height:100%";
}

.sidebar {
    background-color: #0B3D2E;
    border: solid darkgoldenrod;
    height: auto;
    width: 110px;
    padding: 20px;
}
.column {
    flex-direction: column;
}


.sidebar li {
    list-style-type: none;
}

.sidebar li a {
    list-style-type: none;
    text-decoration: none;
    /* color: darkgoldenrod; */
    display: block;
    font-size: 35px;
    margin-left: 10px;
}

.container1 {

    background-color: #0B3D2E;
    /* color: d     arkgoldenrod; */
    font-size: 40px;
    border: solid darkgoldenrod;
    width: 900px;
    height: auto;
    margin-left:200px;
}
img{
    width: 300px;
    height: 300px;
    margin-left: 70px;
    margin-bottom:100px;
    margin-right: 300px;
    margin-top: 100px;
    border: solid 8px darkgoldenrod;

}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 10px;
}
